.sidebar-container{
    padding: 15px 10px;
    width: 240px;
    &::before{
        content: '';
        background-image: url("../../assets/sidebar-4.jpg");
        position: absolute;
        opacity: 0.2;
        height: 100%;
        width: 100%;
        display: block;
        z-index: -1;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50%;   
    }
    .mat-custom{
        &-img{
            width: 20px;
            margin-right: 10px;
        }
        &-text{
            text-transform: uppercase;
            padding: 0 15px;
        }
        &-btn-block{
            width: 100%;
            padding: 7px 15px;
            text-align: left;
            font-size: 14px;
            margin-bottom: 20px;
            mat-icon{
                margin-right: 10px;
            }
        }
        &-link{
            text-decoration: none;
            color: #000;
        }
    }
    .menu-content{
        margin-top: 20px;
    }
    .mat-top-space{
        margin-top: 15px;;
    }
    
}