<div class="sidebar-container">
    <a class="mat-title mat-custom-text mat-custom-link" routerLink="/">
        <img src="/assets/corona.png" alt="img" class="mat-custom-img"> Corona Live
    </a>
    <mat-divider class="mat-top-space"></mat-divider>
    <div class="menu-content">
        <a mat-button routerLinkActive="mat-raised-button mat-warn" class="mat-custom-btn-block"
            routerLink="/dashboard">
            <mat-icon>
                dashboard
            </mat-icon>
            Live Update
        </a>
        <a mat-button routerLinkActive="mat-raised-button mat-warn" class="mat-custom-btn-block"
            routerLink="/table-list">
            <mat-icon>
                content_paste
            </mat-icon>
            Table View
        </a>
    </div>
</div>