.footer-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
}
.footer-icon{
    margin-right: 5px;
}

.footer-link{
    text-decoration: none;
    margin-left: 5px;
    color: inherit;
    &:hover{
        text-decoration: underline;
    }
}