<div class="toolbar-container">
    <mat-toolbar class="toolbar">
        <span class="mat-display-1 toolbar-brand">{{title}}</span>
        <span class="toolbar-spacer"></span>
        <a mat-flat-button href="https://github.com/rajdeepiitkgp/CoronaUpdate" target="_blank" color="primary" class="mobile-hide">
            <mat-icon svgIcon="gitHub" aria-hidden="false" aria-label="Github Repo" class="icon-space"></mat-icon>
            Github
        </a>
        <a mat-mini-fab href="https://github.com/rajdeepiitkgp/CoronaUpdate" target="_blank" color="primary" class="mobile-show btn-space">
            <mat-icon svgIcon="gitHub" aria-hidden="false" aria-label="Github Repo"></mat-icon>
        </a>
        <button mat-icon-button color="primary" class="mobile-show" (click)="openSidebar()" > <mat-icon>{{iconTrigger}}</mat-icon></button>
    </mat-toolbar>
</div>