.demo-chart{
    min-height: 400px;
}
.custom-card-footer{
    font-size: 18px;
    padding: 20px 25px;
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}