.corona-sidenav-container{
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

.parent-container{
    padding: 20px;
    background-color: #eee;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;    
}
.custom-progress-bar{
    position: fixed;
    z-index: 999;
}