<mat-progress-bar *ngIf="progressFlag" mode="indeterminate" class="custom-progress-bar">
</mat-progress-bar>
<mat-sidenav-container class="corona-sidenav-container">
  <mat-sidenav mode="side" opened class="mat-elevation-z4 mobile-hide">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="parent-container">  
      <app-top-navbar (emitOpenCloseSideBar)="openCloseSideBar($event)"></app-top-navbar>
      <div class="child-container">
        <router-outlet></router-outlet>
      </div>    
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>