<mat-progress-bar *ngIf="progressFlag" mode="indeterminate" class="custom-progress-bar" color="accent">
</mat-progress-bar>
<mat-sidenav-container class="corona-sidenav-container">
  <mat-sidenav mode="side" opened class="mat-elevation-z4 hide-sm">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="parent-container">
      <div class="mat-display-1">
        {{title}}
    </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>