.corona-sidenav-container{
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}

.parent-container{   
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #eee;
}

.custom-progress-bar{
    position: fixed;
    z-index: 999;
}
.mat-flex-spacer{
    flex-grow: 1;
}
.top-menu{
    display: flex;
}
.small-text{
    font-size: 14px !important;
}
