<div class="mat-display-1 dashboard-title">
    {{title}}
</div>


<div class="summary-container">
    <div class="summary-content" *ngFor="let item of cardObjectArray">
        <app-card-summary [cardObject]="item"></app-card-summary>
    </div>
    <div class="summary-graph">
        <app-graph-summary [dataLoaded]='dataLoaded'></app-graph-summary>
    </div>
    <div class="summary-graph">
        <app-graph-summary [dataLoaded]='dataLoaded'></app-graph-summary>
    </div>
    <div class="summary-daily">
        <app-graph-summary [dataLoaded]='dataLoaded'></app-graph-summary>
    </div>
</div>

