/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica", sans-serif; 
    *{
        font-weight: 100 !important;
    }
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}