.custom-card{
    &-header{
        justify-content: center;
    }
    &-avatar{
        border-radius: 5px;
        padding: 20px 30px;
        margin-top: -45px;
        margin-left: 10px;
        flex-grow: 1;
        height: auto;
        &-subtitle{
            margin-bottom: 0;
            color: #f9fff8 !important;
        }
    }
    &-table-container{
        width: 100%;
        overflow-x: auto;
    }
    &-content{
        margin-top: 10px;
        .custom-input{
            width: 100%;
        }
    }
}
.custom-table{
    width: 100%;
    min-width: 850px;
    
    .table{
        &-title{
            font-weight: 400 !important;
            color: #ff9800;
            font-size: 14px;
        }
        &-data{
            font-weight: 400 !important;
            font-size: 13px;
        }
        &-flag{
            width: 20px;
        }      
        &-footer{
            &-hide{
                display: none;
            }   
            &-td{
                height: 250px;
                &.spinner-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }         
        }  
    }
}

.mat-row:nth-child(2n){
    background-color: #fff;
}
.mat-row:not(:nth-child(2n)){
    background-color:#f0fff3;
}