<div class="summary-containter">
    <mat-card class="custom-card">
        <mat-card-header class="custom-card-header">
            <div mat-card-avatar class="custom-card-avatar mat-elevation-z4 mat-bg-light-blue">
                <div class="mat-headline">
                    Country Stats
                </div>
                <div class="mat-subheading-1 custom-card-avatar-subtitle">
                    Last updated
                </div>
            </div>
        </mat-card-header>
        <mat-card-content class="custom-card-content">
            <mat-form-field class="custom-input">
                <mat-label>Search Country</mat-label>
                <input matInput  placeholder="Ex. India">
              </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>